body {
    color: #02020A;
    background-color: #FFFFFF;
    }
    nav {
        background-color: #4DC149;
    }
    nav a {
        color: #02020A;
    }
    nav a:hover {
        background-color: #D2D6DA;
    }
    nav {
        padding: 20px;
        margin-bottom: 30px;
    }
    p {
        margin-bottom: 10px;
    }
    .img1 {
        max-width: 100%;
    }
    .row2 {
        flex-wrap: wrap;
    }
    @media only screen and (max-width: 600px) {
        nav a {display: 100%;}
        nav a {display: block;}
        span {display: none;}
    }
   

